h1{
color:#002395;
text-align:center;
border:solid black 2px;
margin:0 500px 0 500px;
background-color:#50C878;
}
.container{
display:grid;
grid-template:1fr 1fr/ 1fr 1fr 1fr 1fr;
border:solid black 2px;
background-color:#50C878;
height:500px;
margin-top:25px;
}
button{
border:solid 1px black;
height:100%;
width:100%;
}
.item{
margin:15px 10px 10px 30px;
border:solid black 1px;
background-color:white;
width:200px;
height:200px;
}
body{
text-align:center;
background-color:#000080;
}